<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
 <modules>
            <remove name="WebDAVModule" />
        </modules>
  <handlers>   
   <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
  </handlers>
        <directoryBrowse enabled="true" />
</system.webServer>
<appSettings>
  <add key="WSGI_HANDLER" value="my_app.app" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Flask_IIS" />
</appSettings>
</configuration>
																									